{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    {% comment %}Navbar{% endcomment %}
    {% include 'include/navbar.html' %}

    <div class="page-title page-title-center">
        <div class="container">
            <h2 class="text-uppercase">Forgot Password</h2>
        </div>
    </div>

    <div class="page-wrapper">
        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <div class="row">
                        <p class="text-center">
                            Please Enter your email address, in order to got reset email link.
                        </p>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <div class="col-md-5">
                                {% if error_message %}
                                    <p class="text-center text-danger">{{ error_message }}</p>
                                {% endif %}
                                <form action="{% url 'member:forgotpassword' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input class="form-control" type="email" name="email" placeholder="Email address">
                                    </div>

                                    <div class="form-group">
                                        <input class="btn btn-small btn-dark-solid full-width btn-rounded" type="submit" value="submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block footer %}
    {% include 'include/footer.html' %}
{% endblock %}