{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>vkirirom</title>
{% endblock %}

{% block content %}

    {% include 'include/navbar.html' %}

    <div class="page-title page-title-center">
        <div class="container">
            <h2 class="text-uppercase">success!</h2>
        </div>
    </div>

    <div class="page-wrapper">
        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <div class="row">
                        <h3 class="text-center text-success">Please check your email to get reset password link.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include 'include/footer.html' %}
{% endblock %}