{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>vKirirom</title>
{% endblock %}

{% block content %}

    {% comment %}Navbar{% endcomment %}
    {% include 'include/navbar.html' %}

    {% comment %}page header{% endcomment %}
    <div class="page-title page-title-center">
        <div class="container">
            <h2 class="text-uppercase">Reset Password</h2>
        </div>
    </div>

    {% comment %}Content{% endcomment %}
    <div class="page-wrapper">
        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <div class="row">
                        <p class="text-info text-center">
                            Reset your password here!
                        </p>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <div class="col-md-5">
                                {% if message_error %}
                                    <p class="text-center text-danger">{{ message_error }}</p>
                                {% endif %}
                                <form action="{% url 'member:resetpassword' uidb64=uid token=token %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control" placeholder="New password">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="confirm" class="form-control" placeholder="Re-type password">
                                    </div>
                                    <div class="form-group">
                                        <input class="btn btn-small btn-dark-solid full-width btn-rounded" type="submit" value="Reset">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include 'include/footer.html' %}
{% endblock %}