{% extends 'base.html' %}
{% load staticfiles %}
<!-- {% block accommodation_active %}active{% endblock %} -->

{% block title %}
	<title>Super Admin</title>
{% endblock %}

{% block content %}
	{# body content starts #}
	<nav class="navbar navbar-inverse visible-xs">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>                        
      			</button>
      			{# logo start #}
                    <a href="{% url 'member:index' %}" class="">
                        <img src="{% static 'img/logo.png' %}" class="retina" alt="">
                    </a>
                {# logo end #}
    		</div>
    		<div class="collapse navbar-collapse" id="myNavbar">
      			<ul class="nav navbar-nav">
        			<li><a href="#">Accommodation</a></li>
        			<li><a href="#">Activity</a></li>
      			</ul>
    		</div>
  		</div>
	</nav>

	<div class="page-wrap">
	<div class="container-fluid" style="padding-top: 15px;">
		<div class="col-sm-2">
			<div class="row content">
				{# logo start #}
                    <a href="{% url 'member:index' %}" class="">
                        <img src="{% static 'img/logo.png' %}" class="retina" alt="logo">
                    </a>
                {# logo end #}
				<ul class="nav nav-pills nav-stacked">
					<li><a href="{% url 'member:superadmin' %}">Accommodation</a></li>
					<li  class="active"><a href="{% url 'member:superadminactivity' %}">Activity</a></li>
				</ul><br>
			</div>
		</div>
		<div class="col-sm-10">
			<div class="well">
				<div>
					<h4>Activity</h4>
				</div>
				{% for activitys in activity %}
					{{ activity.name }}<br>
				{% endfor %}
			</div>
 		</div>
	</div>
</div>
	{# body content ends #}
{% endblock %}